<div class="col-md-12">
    <h4 class="text-center customer-list-label">Customer List
        <button class="btn btn-danger btn-sm pull-right" routerLink="/home">Back</button>
    </h4>


</div>
<div class="col-md-12 padding-data-table">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Account No.</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Adhaar Number</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3333</td>
                <td>Ajay Roy</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>4444</td>
                <td>Manik Lal das</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" routerLink="/view-details"><i
                            class="fa fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <td>555</td>
                <td>Rahul das</td>
                <td>9036763619</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-3232</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement" routerLink="/statement">
                                <i class="fa fa-stack-exchange"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                class="fa fa-eye"></i></button>
                    </div>

                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>
            <tr>
                <td>1111</td>
                <td>Amit Patra</td>
                <td>9036763618</td>
                <td>amit.patra@gmail.com</td>
                <td>4500-9000-3000-4121</td>
                <td>
                        <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" title="Account Statement">
                                        <i class="fa fa-stack-exchange"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" routerLink="/view-details" data-toggle="tooltip" title="View Deatils"><i
                                        class="fa fa-eye"></i></button>
                            </div>
                </td>
            </tr>

        </tbody>
        <!-- <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> -->
    </table>
</div>